{% extends "base.html" %}

{% block title %}Question: {{ question.title }}.{% endblock title %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <section>
        {{ question.text|safe }}    
    </section>

    {% for answer in question.answer_set.all %}
        <section style="margin: 20px; border: 1px #ebebeb solid;padding: 5px 10px;">
            {{ answer.text }}
        </section>
    {% endfor %}

    <section>
        <p>{% if user.is_authenticated %}{{ user.username }}{% else %}Not authenticated user{% endif %}</p>
        <form action="{% url 'question' question.pk %}" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            {{ answer_form.as_p }}
            <input type="submit" value="save">
        </form>
    </section>

{% endblock content %}